@use 'colors';
@use 'font-styles' as fnt;
@use 'buttons';
@use 'responsive' as res;

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: colors.$white;
    font-family: fnt.$basic-font;


    header {
        display: flex;
        justify-content: space-between;
        padding: 40px 32px;
        background: rgb(239, 128, 49);
        background: linear-gradient(180deg, rgba(239, 128, 49, 0) 0%, rgba(239, 128, 49, 0.15) 69%);
    }

    main {
        .welcome-card {
            display: grid;
            padding-left: 32px;
            padding-bottom: 127px;
            // padding-right: 98px;
            grid-template-columns: 1fr 1fr 1fr;
            background: rgb(239, 128, 49);
            background: linear-gradient(180deg, rgba(239, 128, 49, 0.15) 69%, rgba(239, 128, 49, 0) 100%);
            position: relative;
            @include res.xl {
                padding-left: 180px;
                padding-right: 200px;
            }

            .item {
                grid-column: span 2;

                h1 {
                    margin-top: 0;
                    font-size: 18px;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: colors.$grey-1;
                    @include res.xl {
                        font-size: 42px;
                    }
                }

                p {
                    font-size: 10px;
                    color: colors.$grey-2;
                    @include res.xl {
                        font-size: 20px;
                    }
                }

                a.get-started-button {
                    @include buttons.green-button;
                    width: 80%;

                    img {
                        display: block;
                    }
                }
            }

            .img {
                img {
                    object-fit: cover;
                    position: absolute;
                    right: 0;
                    @include res.m {
                        position: relative;
                        height: 200px;
                    }
                    @include res.xl {
                        height: 586px;
                    }
                }
            }
        }

        .features-card {
            @include res.xl {
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding-left: 140px;
                padding-right: 177px;
            }
            .description {
                margin-left: 32px;
                margin-right: 85px;
                margin-bottom: 36px;
                h2 {
                    @include fnt.green;
                    font-weight: 400;
                    @include res.xl {
                        font-size: 40px;
                    }
                    .orange-text {
                        @include fnt.orange;
                        @include res.xl {
                            font-size: 24px;
                        }
                    }
                }

                p {
                    color: colors.$grey-2;
                    font-size: 10px;
                    @include res.xl {
                        font-size: 16px;
                    }
                }

                a.get-started-button {
                    @include buttons.green-button;
                    width: 80%;
                }
            }

            .features {
                margin-left: 32px;
                margin-right: 32px;
                margin-top: 36px;
                display: grid;
                grid-template-columns: 1fr 1fr;

                .feature-item {
                    font-size: 8px;
                    color: colors.$grey-2;
                    padding: 21px 21px 25px 21px;
                    @include res.xl {
                        font-size: 13px;
                    }

                    h3 {
                        font-size: 10px;
                        text-transform: uppercase;
                        @include res.xl {
                            font-size: 22px;
                        }
                    }
                }

                .feature-item:hover {
                    box-shadow: 14px 13px 17px -1px rgba(0,0,0,0.14);
                }
            }
        }

        .additional-features {
            margin-left: 32px;
            margin-right: 32px;
            display: grid;
            grid-template-columns: 1fr 1fr;

            h2 {
                grid-column: 1 / span 2;
                justify-self: center;
                font-weight: 400;
                @include fnt.green;

                span {
                    @include fnt.orange;
                    justify-self: center;
                }
            }

            .additional-item {
                padding: 34px 22px 31px 22px;
                font-size: 8px;

                h3 {
                    font-size: 10px;
                    text-transform: uppercase;
                }
            }
        }

        .connect {
            margin-left: 32px;
            margin-right: 32px;

            h2 {
                @include fnt.green;
                font-weight: 400;

                .orange-text {
                    @include fnt.orange;
                }
            }

            p {
                font-size: 10px;
                margin-bottom: 25px;
            }

            a.get-started-button {
                @include buttons.green-button;
                width: 80%;
            }
        }

        .employees {
            margin-left: 35px;

            h2 {
                @include fnt.green;
                font-weight: 400;
                font-size: 20px;

                span.orange-text {
                    @include fnt.orange;
                }
            }

            .employee-card {
                margin-right: 85px;
                margin-bottom: 65px;
                padding-left: 26px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                background: rgb(100, 123, 100);
                background: linear-gradient(0deg, rgba(100, 123, 100, 0.77) 0%, rgba(100, 123, 100, 0.13) 55%, rgba(100, 123, 100, 0) 66%);

                img {
                    display: block;
                }

                .name-position {
                    padding-top: 32px;

                    .position {
                        font-size: 10px;
                        text-transform: uppercase;
                        padding-bottom: 3px;
                    }

                    .name {
                        font-size: 8px;
                        color: colors.$grey-2;
                        text-transform: uppercase;
                    }
                }

                p {
                    grid-column: 1 / span 2;
                    font-size: 13px;
                    color: colors.$grey-2;
                    margin-bottom: 0;
                }
            }
        }
    }

    footer {
        background-color: colors.$footer-bg;


        .footer-wrapper {
            margin-left: 32px;
            margin-right: 60px;
            padding-top: 40px;
            padding-bottom: 40px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            @include res.xl {
                grid-template-columns: 1fr 1fr 1fr 1fr;
                padding-left: 140px;
                padding-right: 140px;
            }
            .copyright-wrapper {
                grid-column: span 2;
                font-size: 14px;
                color: colors.$grey-2;

                .copyright:first-of-type {
                    padding-bottom: 8px;
                }

                @include res.xl {
                    grid-column: span 1;
                }
            }

            .social-links {
                grid-column: span 2;
                padding-bottom: 40px;
                padding-top: 19px;
                @include res.xl {
                    grid-column: span 1;
                }
            }

            .company-links {
                h2 {
                    @include fnt.green;
                    font-size: 20px;
                    text-transform: capitalize;
                    font-weight: 400;
                    margin-top: 0;
                }

                @include fnt.list-items;
            }

            .support-links {
                h2 {
                    @include fnt.green;
                    font-size: 20px;
                    text-transform: capitalize;
                    font-weight: 400;
                    margin-top: 0;
                }

                @include fnt.list-items;
            }

            form {
                grid-column: span 2;
                padding-top: 40px;
                @include res.xl {
                    grid-column: span 1;
                }
                label {
                    display: block;
                    width: 100%;
                    @include fnt.green;
                    font-size: 20px;
                    margin-bottom: 13px;
                }

                textarea {
                    display: block;
                    width: 100%;
                    height: 113px;
                    font-family: "Figtree", sans-serif;
                    font-size: 13px;
                    margin-bottom: 38px;
                    padding-left: 24px;
                    padding-top: 12px;
                    border: none;
                    color: colors.$grey-2;
                }

                button {
                    @include buttons.green-button;
                    width: 100%;
                    border: none;
                }
            }
        }
    }
}